<span class="nav-item dropdown">
    <button class="nav-item dropdown-toggle badge d-flex align-items-center p-1 pe-2 text-dark bg-light-subtle border border-dark-subtle rounded-pill" data-bs-toggle="dropdown">
        <img class="rounded-circle me-1" width="32" height="32" src="{{ user.profile.avatar.url }}" alt="profile avatar"> 
        <span style="font-size: 16px">{{ user }}</span>
    </button>
    <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-item"><i class="bi bi-person-fill"></i> My profile</a></li>
        <li><a href="#" class="dropdown-item"><i class="bi bi-moon-fill"></i> Change theme</a></li>
        <li><a href="{% url "logout" %}" class="dropdown-item"><i class="bi bi-door-open-fill"></i> Logout</a></li>
    </ul>
</span>