<button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#editorHelp">
    <i class="bi bi-lightbulb"></i> Help
</button>

<div class="modal fade" id="editorHelp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editorHelpLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="editorHelpLabel">How use Lumino lesson editor?</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Lumino's editor uses Markdown to write lesson. Here a little guide to go into it:
            <hr>
            <div class="d-flex flex-column">
                <div class="m-1"><b>Title</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">## My lesson title</span></div>
                <div class="m-1"><b>Subtitle</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">### My lesson subtitle</span></div>
                <div class="m-1"><b>Bold font</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">**My phrase**</span></div>
                <div class="m-1"><b>Cursive font</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">*My phrase*</span></div>
                <div class="m-1"><b>Ordered list</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">1. My item</span></div>
                <div class="m-1"><b>Unordered list</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">- My item</span></div>
                <div class="m-1"><b>Links</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">[My item](https://www.google.com)</span></div>
                <div class="m-1"><b>Horizontal separator</b> <i class="bi bi-arrow-right"></i> <span class="border p-1">---</span></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>