{% load modal from shared_extras %}

<div class="col-md-8">
    <div class="card-body">
        <h1 class="card-title text-center mb-4">{{ target_user.profile }}</h1>
        <p class="text-secondary"><i class="bi bi-envelope"></i> {{ target_user.email }}</p>
        <p class="card-text">{{ target_user.profile.bio }}</p>
        <hr>
        {% if user == target_user %}
            <div class="d-flex justify-content-center gap-4">
                <a href="{% url 'users:edit-profile' %}" class="btn btn-primary d-flex align-items-center gap-2">
                    <i class="bi bi-pencil"></i> Edit Profile
                </a>
                {% if user.profile.is_student %}
                    {% modal '<i class="bi bi-exclamation-diamond"></i> Leave' 'users:leave' css_class="btn btn-danger" title='Leave Lumino' modal_btn_label='Leave'%}
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>