{% extends "base.html" %}

{% block title %}Lumino | {{ target_user }}'s profile{% endblock title %}

{% block main %}
<div class="container py-5 mb-5">
  <div class="card shadow border-0" style="max-width: 800px; margin: 0 auto;">
    <div class="row">
      <div class="col-md-4 bg-success text-white text-center d-flex flex-column pt-5">
        <img 
          src="{{ target_user.profile.avatar.url }}" 
          alt="User avatar" 
          class="rounded-circle border border-3 border-light mx-auto mb-3" 
          style="width: 120px; height: 120px; object-fit: cover;">
          <h2 class="h5">{{ user.first_name|title }} {{ user.last_name|title }}</h2>
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h1 class="card-title text-center mb-4">{{ target_user.username }}</h1>
          <p class="card-text">
            {{ target_user.profile.bio }}
          </p>
          <hr>

          {% if user == target_user %}
            <div class="d-flex justify-content-center gap-4">
              <a href="{% url 'users:edit-profile' %}" class="btn btn-primary d-flex align-items-center gap-2">
                <i class="bi bi-pencil"></i> Edit Profile
              </a>
              <a href="{{ subject.get_absolute_url }}" class="btn btn-danger d-flex align-items-center gap-2">
                <i class="bi bi-exclamation-diamond"></i> Leave
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
