{% load modal from shared_extras %}

<div class="row">
    <div class="btn-group my-1">
      <a href="{{ lesson.get_absolute_url }}" class="list-group-item btn btn-light col-12 text-start">
        <i class="bi bi-book mx-2"></i> {{ lesson }}
      </a>
      {% if not user.profile.is_student %}
        <a href="{{ lesson.get_edit_url }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-title="Edit lesson"><i class="bi bi-pen-fill"></i></a>
        {% modal '<i class="bi bi-trash-fill"></i>' 'subjects:delete-lesson' subject.code lesson.pk title='Delete lesson' css_class='btn btn-danger' modal_btn_label='Delete' %}
      {% endif %}
    </div>
</div>