{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load alert from shared_extras %}

{% block title %}{{ form.title }}{% endblock %}

{% block main %}

  <section class="my-3 d-flex align-items-center">
    <a href="{% url "subjects:subject-list" %}" class="h2 mx-3" data-bs-toggle="tooltip" data-bs-title="Back to subject list"><i class="bi bi-arrow-left-circle-fill"></i></a> 
    <h1>{{ form.title }}</h1>
  </section>

  {% if form.fields.subjects.queryset|length > 0 %}
    {% crispy form %}
  {% else %}
    {% alert "You can't do anything right now!" %}
  {% endif %}

{% endblock main %}