{% extends "base.html" %}

{% load alert from shared_extras %}
{% load i18n %}

{% block title %}Lumino | Subject list{% endblock %}

{% block main %}
  <section class="my-3 d-flex justify-content-between align-items-center">
    <h1>{% translate 'My subjects' %}</h1>
    {% if user.profile.is_student %}
      {% include "./includes/student_actions.html" %}
    {% endif %}
  </section>
  
  <section class="list-group list-group-flush">
    {% for subject in subjects %}
      {% include "./includes/subject_item.html" %}
    {% empty %}
      {% alert "There are no subjects assigned! Please enroll in one o ask an administrator to assign it." %}
    {% endfor %}
  </section>
{% endblock %}
